@import "tailwindcss";

:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes scan {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

/* .animate-scan {
  position: absolute;
  animation: scan 3s linear infinite;
} */

@keyframes scan {
  0%,
  100% {
    top: 0%;
  }
  50% {
    top: 100%;
  }
}

.animate-scan {
  animation: scan 2.5s ease-in-out infinite;
  position: absolute;
}
